<nav class="navbar navbar-inverse" style="font-size: 18px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="img-responsive img-rounded" width="160px" height="100px" ng-src="imgs/page_logo.jpg"/>

    </div>
    <div class="collapse navbar-collapse">


      <ul class="nav navbar-nav">
        <a class="navbar-brand" href="#"><b>ICT Store</b></a>
        <!-- Search form -->
        <form class="navbar-form navbar-right" role="search" ng-submit="search()" ng-controller="SearchController">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="searchField">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>



        <li ><a ng-href="#/">Home</a>
        </li>
        <li>
          <a ng-href="#/categories">{{'store.category_admin' | translate}}</a>
        </li>
        <li>
          <a ng-href="#/books">{{'store.product_admin' | translate}}</a>
        </li>

        <li>
          <a ng-href="#/order_items">{{'store.shopping_cart' | translate}}</a>
        </li>
        <li>
          <a ng-href="#/wish_items">{{'store.wish_list' | translate}}</a>
        </li>

        <li class="dropdown" ng-controller="LanguageController">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span>
                <i class="fa fa-fw fa-flag"></i>
                <span class="hidden-tablet" translate="generic.language"></span>
                <b class="caret"></b>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li class="{{isActive(l.name) ? 'active':''}}" ng-repeat="l in languages">
              <a ng-click="changeLanguage(l.name)">
                <span class="famfamfam-flag-{{l.name}}"></span>&nbsp;<span translate="generic.{{l.name}}"></span></a>
            </li>

          </ul>
        </li>

        <li>
          <a ng-href="#/login" ng-if="!$root.user">{{'action.login' | translate}}</a>
          <a ng-click="logout()" ng-if="$root.user" class="clickable" title="logout">
            <i class="fa fa-fw fa-sign-out"></i>
            <span class="glyphicon glyphicon-user"></span>  {{$root.user.username}}
          </a>
        </li>
      </ul>
    </div>
  </div>

</nav>

