<page-header header-title="{{ 'action.register' | translate }}" icon="fa-sign-in"><style>
  <!--
  .colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  }
  -->
</style></page-header>

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form">
        <h2>Please Sign Up</h2>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="text" ng-model="firstname" name="first_name" id="first_name" class="form-control input-lg" placeholder="{{'generic.firstname' | translate }}" tabindex="1">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="text" name="last_name" ng-model="lastname" id="last_name" class="form-control input-lg" placeholder="{{'generic.lastname' | translate }}" tabindex="2">
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" name="display_name" ng-model="username" id="display_name" class="form-control input-lg" placeholder="{{'generic.username' | translate }}" tabindex="3">
        </div>
        <div class="form-group">
          <input type="email" name="email" ng-model="mail" id="email" class="form-control input-lg" placeholder="{{'generic.email' | translate }}" tabindex="4">
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" name="password" ng-model="password" id="password" class="form-control input-lg" placeholder="{{'generic.password' | translate }}" tabindex="5">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" name="password_confirmation" ng-model="confirmPassword" id="password_confirmation" class="form-control input-lg" placeholder="{{'generic.confirmPassword' | translate }}" tabindex="6">
            </div>
          </div>
        </div>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-12"><input type="submit" placeholder="{{ 'action.register' | translate }}" ng-click="register()" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>

        </div>
      </form>
    </div>
  </div>
</div>
