<table ng-table="tableParams" class="table">
  <tr ng-repeat="entity in entities">
    <td data-title="'Name'">
      {{entity.book.name}}
    </td>
    <td data-title="'Category Name'">
      {{entity.book.category.name}}
    </td>
    <td data-title="'Description'" >
      {{entity.book.description}}
    </td>
    <td data-title="'Price'">
      {{entity.book.price}}
    </td>
  </tr>
</table>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_cart">
  <input type="hidden" name="upload" value="1">
  <input type="hidden" name="business" value="test_button@gmail.com">
  <input type="hidden" ng-repeat="entity in entities" name="{{'item_name_'}}{{$index+1}}" value="{{entity.book.name}}"/>
  <input type="hidden" ng-repeat="entity in entities" name="{{'amount_'}}{{$index+1}}" value="{{entity.book.price | number:2}}"/>
  <input type="submit" value="Pay"/>
</form>
